/* ==========================================================================
   Adriano Siqueira custom styles
   ========================================================================== */
body {
    color: #FFFFFF;
    font: normal normal normal 100%/1.4 'Lato', sans-serif;
    background-color: #ffffff;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    outline: none;
    box-shadow:none !important;
    border: 1px solid transparent !important;
}

.navbar-brand,
.navbar-nav > li > a {
    text-shadow: none;
}

.btn {
    outline: none !important;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.space-header {
    padding-top: 93px;
}

.large-modal .modal-dialog {
    width: 70%;
}

/* Header */
header.header-main-global {
    width: 100%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 10;
}

header.header-main-global > .navbar-main-global {
    background-color: rgba(0, 0, 0, 0.45);
    border: 0;
    border-radius: 0;
    position: relative;
    margin: 0 auto;
    height: 77px;
    width: 1416px;
}

header.header-main-global > .navbar-main-global > .navbar-header {
    margin-left: 49px;
    margin-right: 90px;
}

header.header-main-global > .navbar-main-global > .navbar-header > h1 {
    line-height: 77px;
    padding: 0;
    margin: 0;
}

header.header-main-global > .navbar-main-global > .navbar-header > h1 > a > img {
    display: inline;
    vertical-align: middle;
    max-height: 34px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li {
    margin-right: 25px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li:last-child {
    margin-right: 0;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16.38px;
    line-height: 77px;
    padding: 0 24px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a:hover,
header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li.active,
header.header-main-global .nav .open > a,
header.header-main-global .nav .open > a:hover,
header.header-main-global .nav .open > a:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

header.header-main-global .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.60);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 61px;
    margin-top: 0;
}

header.header-main-global .dropdown-menu > li > a {
    color: #161616;
    font-weight: 300;
    font-size: 16.38px;
    line-height: 30px;
}

header.header-main-global .dropdown-menu > li > a:hover,
header.header-main-global .dropdown-menu > li > a:focus {
    background: none;
}

@media (min-width: 970px) {
    header.header-main-global .dropdown:hover > a {
        background-color: rgba(255, 255, 255, 0.15);
    }

    header.header-main-global .dropdown:hover .dropdown-menu {
        display: block;
    }
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form {
    width: 288px;
    margin: 22px 49px 0 20px;
    padding: 0;
    border: 0;
    box-shadow: none;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .form-control {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .input-search {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    -webkit-border-top-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-top-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -moz-border-radius-topright: 18px;
    -moz-border-radius-bottomright: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: 0 !important;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search:hover,
header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search:focus {
    color: #ffffff;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search > i {
    font-size: 18px;
    line-height: 19px;
}

@media (max-width: 1366px) {
    header.header-main-global {
        top: 11px;
    }

    header.header-main-global > .navbar-main-global {
        width: 1008px;
        height: 56px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header {
        margin-left: 35px;
        margin-right: 81px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header > h1 {
        line-height: 56px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header > h1 > a > img {
        max-height: 24px;
    }

    header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li {
        margin-right: 6px;
    }

    header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a {
        font-size: 11.65px;
        line-height: 56px;
        padding: 0 16px;
    }

    header.header-main-global .dropdown-menu {
        padding-right: 44px;
    }

    header.header-main-global .dropdown-menu > li > a {
        font-size: 11.65px;
        line-height: 21.33px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form {
        width: 193px;
        margin: 15px 33px 0 20px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .form-control {
        font-size: 10px;
        height: 24px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search {
        height: 24px;
        padding: 1px 6px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search > i {
        font-size: 13px;
        line-height: 14px;
    }
}

@media (max-width: 1280px) {
    header.header-main-global {
        top: 10px;
    }

    header.header-main-global > .navbar-main-global {
        width: 945px;
        height: 52px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header {
        margin-left: 34px;
        margin-right: 77px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header > h1 {
        line-height: 52px;
    }

    header.header-main-global > .navbar-main-global > .navbar-header > h1 > a > img {
        max-height: 23px;
    }

    header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li {
        margin-right: 6px;
    }

    header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a {
        font-size: 10.92px;
        line-height: 52px;
        padding: 0 16px;
    }

    header.header-main-global .dropdown-menu {
        padding-right: 41px;
    }

    header.header-main-global .dropdown-menu > li > a {
        font-size: 10.92px;
        line-height: 20px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form {
        width: 193px;
        margin: 15px 33px 0 20px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .form-control {
        font-size: 10px;
        height: 24px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search {
        height: 24px;
        padding: 1px 6px;
    }

    header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search > i {
        font-size: 13px;
        line-height: 14px;
    }
}

/* Footer */
footer.footer-main {
    font-size: 14px;
    background-color: #ffffff;
    border-top: 4px solid #ffffff;
    position: relative;
    height: 94px;
    overflow: hidden;
}

footer.footer-main:before {
    content: "";
    -webkit-box-shadow: inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98px;
}

footer.footer-main,
footer.footer-main a {
    line-height: 32px;
    color: #646464;
}

footer.footer-main a img {
    vertical-align: inherit;
}

footer.footer-main .stroke {
    border: 1px solid #000000;
    display: inline-block;
    width: 3px;
    height: 32px;
    margin: 0 20px;
}

footer.footer-main > div {
    margin-top: 32px;
}

footer.footer-main address,
footer.footer-main span.phone,
footer.footer-main span.email,
footer.footer-main .partition {
    float: right;
    line-height: 32px;
}

footer.footer-main .partition {
    margin: 0 34px;
}

@media (max-width: 1280px) {
    footer.footer-main {
        font-size: 9.33px;
        border-top-width: 2px;
        height: 63px;
    }

    footer.footer-main:before {
        height: 67px;
    }

    footer.footer-main .stroke {
        height: 24px;
    }

    footer.footer-main > div {
        margin-top: 23px;
    }

    footer.footer-main,
    footer.footer-main a,
    footer.footer-main address,
    footer.footer-main span.phone,
    footer.footer-main span.email,
    footer.footer-main .partition {
        line-height: 23px;
    }

    footer.footer-main .partition {
        margin: 0 22px;
    }
}

/* Home */
#carousel-global-home > .banner-description {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

#carousel-global-home > .banner-description > h3 {
    font-weight: 100;
    font-size: 30.80px;
    line-height: 20.96px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    display: inline-block;
    top: 50%;
    margin: -52px 0 0 0;
    padding: 52px 5% 0 5%;
}

#carousel-global-home > .banner-description > h3 > span {
    font-size: 23.80px;
    line-height: 94px;
}

#carousel-global-home > .carousel-inner > .item > .local {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
}

#carousel-global-home > .carousel-inner > .item > .local > h4 {
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    margin: 0;
    padding: 12px 25px 9px 25px;
}

#carousel-global-home > .carousel-inner > .item > .local > h4 > span {
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
}

#carousel-global-home > .carousel-indicators {
    bottom: 63px;
}

#carousel-global-home > .carousel-indicators li {
    background: none;
    border: 3px solid #464646;
    border-radius: 18px;
    width: 18px;
    height: 18px;
}

#carousel-global-home > .carousel-indicators .active {
    background-color: #ffffff;
    border-color: #ffffff;
}

#carousel-global-home > .carousel-control {
    font-size: 30px;
    text-shadow: none;
    top: 50%;
    width: 7.3%;
    opacity: 1;
    filter: alpha(opacity=50);
    z-index: 20;

}

#carousel-global-home > .carousel-control.left,
#carousel-global-home > .carousel-control.right {
    background: none;
}

footer#home-sections {
    position: relative;
    z-index: 1;
    min-height: auto;
    width: 100%;
    background-color: #ececec;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
}

footer#home-sections > section {
    line-height: 239px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 100%;
}

footer#home-sections > section > a {
    text-decoration: none;
    display: block;
}

footer#home-sections > section > a.white {
    color: #ffffff;
}

footer#home-sections > section > a.black {
    color: #000000;
}

footer#home-sections > section > a > h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -2px;
    display: inline-block;
    vertical-align: middle;
}

footer#home-sections > section > a > h2 > span {
    font-size: 20.64px;
    letter-spacing: normal;
    text-transform: uppercase;
}

footer#home-sections > section.divisorio-estrutural {
    background-image: url("../images/divisorio-estrutural-section.jpg");
}

footer#home-sections > section.divisorio-inox {
    background-image: url("../images/divisorio-inox-section.jpg");
    border-left: 4px solid #ffffff;
}

footer#home-sections > section.acessorios {
    background-image: url("../images/acessorios-section.jpg");
    border-left: 4px solid #ffffff;
}

footer#home-sections > section.simulador {
    background-image: url("../images/simulador-section.jpg");
    border-left: 4px solid #ffffff;
}

@media (max-width: 1280px) {
    #carousel-global-home > .banner-description > h3 {
        font-size: 17.20px;
        line-height: 10px;
        margin: -28px 0 0 0;
        padding: 28px 5% 0 5%;
    }

    #carousel-global-home > .banner-description > h3 > span {
        font-size: 14.20px;
        line-height: 54px;
    }

    #carousel-global-home > .carousel-inner > .item > .local > h4 {
        font-size: 14.67px;
        letter-spacing: 1px;
        padding: 8px 18px 6px 18px;
    }

    #carousel-global-home > .carousel-inner > .item > .local > h4 > span {
        font-size: 10.67px;
    }

    #carousel-global-home > .carousel-indicators {
        bottom: 42px;
    }

    #carousel-global-home > .carousel-indicators li {
        border: 2px solid #464646;
        border-radius: 10px;
        width: 12px;
        height: 12px;
    }

    footer#home-sections {
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }

    footer#home-sections > section {
        line-height: 165px;
    }

    footer#home-sections > section > a > h2 {
        font-size: 30px;
        line-height: 22px;
    }

    footer#home-sections > section > a > h2 > span {
        font-size: 10.64px;
    }
}

/* Global - Sustentabilidade */
#sustainability > header {
    background-color: #ececec;
    width: 100%;
}

#sustainability > header > h1,
#sustainability > section {
    width: 840px;
    margin: 0 auto;
}

#sustainability > header > h1 {
    color: #2a2a2a;
    font-weight: 300;
    font-size: 65.88px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    padding: 30px 0;
}

#sustainability > header > h1 > span {
    font-size: 24.69px;
    position: absolute;
    bottom: 40px;
}

#sustainability > section {
    padding: 80px 0;
}

#sustainability > section > p {
    color: #2a2a2a;
    font-weight: 300;
    font-size: 20.57px;
    line-height: 41.14px;
}

#sustainability > section > p.margin-bottom {
    margin-bottom: 67px;
}

@media (max-width: 1280px) {
    #sustainability > header > h1,
    #sustainability > section {
        width: 560px;
    }

    #sustainability > header > h1 {
        font-size: 43.92px;
        padding: 20px 0;
    }

    #sustainability > header > h1 > span {
        font-size: 24.69px;
        position: absolute;
        bottom: 40px;
    }

    #sustainability > section {
        padding: 52px 0;
    }

    #sustainability > section > p {
        font-size: 13.71px;
        line-height: 27.43px;
    }

    #sustainability > section > p.margin-bottom {
        margin-bottom: 43px;
    }
}

/* Global - Fábricas no Mundo */
#world {
    position: relative;
    margin-top: 96px;
    margin-bottom: 96px;
}

#world > .box-map {
    background: url('../images/map-mundi-fabricas.png');
    position: relative;
    margin: 0 auto;
    width: 1094px;
    height: 545px;
}

#world > .box-map > .marker {
    position: absolute;
    z-index: 15;
    cursor: pointer;
}

#world > .box-map > .marker:after {
    content: '';
    background-color: transparent;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px;
    height: 3px;
}

#world > .box-map > .marker > .information {
    color: #2a2a2a;
    background-color: rgba(255, 255, 255, 0.80);
    border: 2px solid #eceaea;
    -webkit-border-radius: 30px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 30px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    position: absolute;
    display: none;
    bottom: 30px;
    left: 20px;
    min-width: 200px;
    padding: 20px;
    z-index: 20;
}

#world > .box-map > .marker > .information > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 0;
}

#world > .box-map > .marker > .information > p > b {
    font-weight: 500;
}

#world > .box-map > .marker > .information > p > a {
    color: #2a2a2a;
}

/*#world {
    position: relative;
}

#world > img {
    margin: auto;
    margin-top: 145px;
    margin-bottom: 145px;
}

#world > .marker {
    position: absolute;
    z-index: 15;
    cursor: pointer;
}

#world > .marker > .information {
    color: #2a2a2a;
    background-color: rgba(255, 255, 255, 0.80);
    border: 2px solid #eceaea;
    -webkit-border-radius: 30px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 30px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.2);
    position: absolute;
    display: none;
    bottom: 30px;
    left: 20px;
    min-width: 200px;
    padding: 20px;
    z-index: 20;
}

#world > .marker > .information > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 0;
}

#world > .marker > .information > p > b {
    font-weight: 500;
}

#world > .marker > .information > p > a {
    color: #2a2a2a;
}

@media (max-width: 1280px) {
    #world > img {
        margin-top: 96px;
        margin-bottom: 96px;
    }
}*/

/* Partions */
#partitions {
    position: relative;
    width: 100%;
    height: auto;
}

#partitions > img {
    margin: 0 auto;
    width: 100%;
}

#partitions > header {
    position: absolute;
    width: 100%;
    top: 62px;
    left: 0;
    z-index: 5;
}

#partitions > header > .content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.20);
    width: 945px;
    margin: 0 auto;

}

#partitions > header > .content > .prev-header {
    position: absolute;
    top: 6px;
    left: 9px;
}

#partitions > header > .content > .breadcrumb {
    text-align: right;
    background: none;
    border-radius: 0;
}

#partitions > header > .content > .breadcrumb > li {
    color: #000000;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
}

#partitions > header > .content > .breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #000000;
}

#partitions > section {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 30;
}

#partitions > section > .details {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.70);
    position: relative;
    width: 871px;
    height: auto;
    padding: 15px 33px 8px 33px;
    margin: 0 auto;
    overflow: hidden;
}

#partitions > section > .details > .open {
    float: right;
    line-height: 1;
}

#partitions > section > .details > .open > a > span {
    color: #3d3d3d;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    padding-right: 20px;
}

#partitions > section > .details > .open > a:hover {
    text-decoration: none;
}

#partitions > section > .details > .close {
    opacity: 1;
}

#partitions > section > .details > .inactive { display: none; }

#partitions > section > .details > h1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

#partitions > section > .details > p {
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 25px;
}

#partitions > section > .details > p > span > b {
    font-weight: 300;
    line-height: 30px;
}

#partitions > section > .details > .btn-patitions {
    color: #ffffff;
    font-weight: 300;
    font-size: 12.49px;
    background-color: #f48431;
    border-radius: 0;
    padding: 7px 23px;
    margin-right: 10px;
}

#partitions > section > .details > .btn-patitions:last-child {
    margin-right: 0;
}

#carousel-partitions .modal-content {
    background-color: rgba(0, 0, 0, 0.80);
}

#carousel-partitions .modal-header,
#carousel-partitions .modal-footer {
    border-color: transparent;
}

#carousel-partitions .close {
    color: #ffffff;
    opacity: 1;
}

#carousel-partitions-images .carousel-control {
    top: 50%;
}

#carousel-partitions-images .carousel-control:hover,
#carousel-partitions-images .carousel-control:focus {
    opacity: 1;
}

#carousel-partitions-images .carousel-control.left,
#carousel-partitions-images .carousel-control.right {
    background: none;
}

/* Acessorios */
#acessorios {
    color: #000000;
}

#acessorios > .jumbotron {
    background: none;
}

#acessorios > .jumbotron > .container {
    text-align: center;
}

#acessorios > .jumbotron > .container > h2 {
    font-weight: 400;
    font-size: 60px;
    margin-top: 44px;
    margin-bottom: 47px;
}

#acessorios > .jumbotron > .container > p {
    font-weight: 100;
    font-size: 27px;
    line-height: 39px;
}

#acessorios > .breadcrumb {
    background-color: #eceaea;
    border-radius: none;
    padding: 53px 0;
    margin-bottom: 58px;
    list-style: none;
    text-align: center;
}

#acessorios > .breadcrumb > .active,
#acessorios > .breadcrumb > li > a {
    color: #050505;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

#acessorios > .breadcrumb > li > a:hover {
    text-decoration: none;
}

#acessorios > .breadcrumb > li+li:before {
    content: ">";
    color: #050505;
    font-size: 24px;
    padding: 0 12px;
}

#acessorios > footer {
    padding: 60px 0;
}

#acessorios > section.categorias {
    width: 100%;
    padding-left: 57px;
}

#acessorios > section.categorias > article > aside,
#acessorios > section.categorias > article > section {
    padding: 0;
    margin-bottom: 5px;
}

#acessorios > section.categorias > article > aside > a {
    text-align: center;
    border: 1px solid #cbcbcb;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow:    0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    box-shadow:         0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    display: block;
    width: 238px;
    height: 150px;
    overflow: hidden;

}

#acessorios > section.categorias > article > section > a {
    color: #222222;
    text-decoration: none;
    border-top: 2px solid #c8c7cc;
    display: block;
}

#acessorios > section.categorias > article > section > a > h1 {
    font-weight: 100;
    font-size: 48px;
    line-height: 150px;
    position: relative;
    margin: 0;
    padding: 0;
}

#acessorios > section.categorias > article > section > a .seta {
    position: absolute;
    display: inline-block;
    top: 52px;
    right: 57px;
}

#acessorios > section.detalhe > article > aside {
    padding-left: 0;
}

#acessorios > section.detalhe > article > aside > .img-detalhe {
    text-align: center;
    border: 1px solid #cbcbcb;
    position: relative;
    width: 284px;
    height: 284px;
    line-height: 284px;
    overflow: hidden;
}

#acessorios > section.detalhe > article > aside > .img-detalhe > a.lupa {
    color: #bcbec0;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 10;
}

#acessorios > section.detalhe > article > section > h1 {
    color: #000000;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
    margin-bottom: 14px;
}

#acessorios > section.detalhe > article > section > h6 {
    color: #e75b39;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

#acessorios > section.detalhe > article > section > span.cod {
    color: #e75b39;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
}

#acessorios > section.detalhe > article > section > p {
    color: #6d6e71;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
}

#acessorios > section.detalhe > article > section > p.descricao {
    margin: 24px 0 24px 0;
}

#acessorios > section.detalhe > article > section > a {
    color: #6d6e71;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 4px;
    margin-right: 18px;
}

#acessorios > section.detalhe > article > section > a:last-child {
    margin-right: 0;
}

#acessorios > section.detalhe > article > hr {
    background: none;
    border-top: 2px solid #d1d3d4;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 1280px) {
    .space-header {
        padding-top: 62px;
    }

    #acessorios > .jumbotron > .container > h2 {
        font-size: 39.81px;
        margin-top: 25px;
        margin-bottom: 29px;
    }

    #acessorios > .jumbotron > .container > p {
        font-size: 17.91px;
        line-height: 25.87px;
    }

    #acessorios > .breadcrumb {
        padding: 35px 0;
        margin-bottom: 38px;
    }

    #acessorios > .breadcrumb > .active,
    #acessorios > .breadcrumb > li > a {
        font-size: 16px;
        line-height: 16px;
    }

    #acessorios > .breadcrumb > li+li:before {
        font-size: 16px;
        padding: 0 9px;
    }

    #acessorios > footer {
        padding: 30px 0;
    }

    #acessorios > section.categorias {
        width: 100%;
        padding-left: 57px;
    }

    #acessorios > section.categorias > article > aside,
    #acessorios > section.categorias > article > section {
        padding: 0;
        margin-bottom: 5px;
    }

    #acessorios > section.categorias > article > aside > a {
        -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.10);
        -moz-box-shadow:    0px 3px 3px 0px rgba(0, 0, 0, 0.10);
        box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.10);
        width: 159px;
        height: 101px;
    }

    #acessorios > section.categorias > article > section > a > h1 {
        font-size: 32px;
        line-height: 101px;
    }

    #acessorios > section.categorias > article > section > a .seta {
        position: absolute;
        display: inline-block;
        top: 36px;
        right: 57px;
    }

    #acessorios > section.detalhe > article > aside {
        padding-left: 0;
    }

    #acessorios > section.detalhe > article > aside > .img-detalhe {
        text-align: center;
        border: 1px solid #cbcbcb;
        position: relative;
        width: 284px;
        height: 284px;
        line-height: 284px;
        overflow: hidden;
    }

    #acessorios > section.detalhe > article > aside > .img-detalhe > a.lupa {
        color: #bcbec0;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        bottom: 4px;
        right: 4px;
        z-index: 10;
    }

    #acessorios > section.detalhe > article > section > h1 {
        color: #000000;
        font-weight: 300;
        font-size: 26px;
        line-height: 19px;
        margin-bottom: 14px;
    }

    #acessorios > section.detalhe > article > section > h6 {
        color: #e75b39;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        padding: 0;
    }

    #acessorios > section.detalhe > article > section > span.cod {
        color: #e75b39;
        font-weight: 300;
        font-size: 26px;
        line-height: 19px;
    }

    #acessorios > section.detalhe > article > section > p {
        color: #6d6e71;
        font-weight: 100;
        font-size: 16px;
        line-height: 19px;
    }

    #acessorios > section.detalhe > article > section > p.descricao {
        margin: 24px 0 24px 0;
    }

    #acessorios > section.detalhe > article > section > a {
        color: #6d6e71;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-left: 4px;
        margin-right: 18px;
    }

    #acessorios > section.detalhe > article > section > a:last-child {
        margin-right: 0;
    }

    #acessorios > section.detalhe > article > hr {
        background: none;
        border-top: 2px solid #d1d3d4;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0;
    }
}

/* Simulador */
#simulator {
    position: relative;
    width: 1416px;
    height: auto;
    margin: 0 auto;
    margin-top: 103px;
}

#simulator > .box-image {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px 0 28px 0;
}

#simulator > .box-image > .navigation {
    position: absolute;
    right: 0;
    top: 0;
    width: 370px;
    height: 100%;
    z-index: 15;
}

#simulator > .box-image > .navigation > .nav-simulator {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    list-style: none;
    position: absolute;
    top: 137px;
    right: 180px;
    padding: 0;
    margin: 0;
    z-index: 30;
}

#simulator > .box-image > .navigation > .nav-simulator > li {
    border-bottom: 2px solid #a1a1a1;
    display: block;
    width: 330px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}

#simulator > .box-image > .navigation > .nav-simulator > li:after {
    content: "";
    position: absolute;
    border: 2px;
    left: -23px;
    border-bottom: 2px solid #a1a1a1;
    display: block;
    width: 23px;
    padding-bottom: 2px;
}

#simulator > .box-image > .navigation > .nav-simulator > li > a {
    color: #ffffff;
    font-weight: 300;
    font-size: 11.18px;
    line-height: 11px;
    text-align: right;
    text-decoration: none;
    background-color: #a1a1a1;
    display: block;
    position: relative;
    width: 100%;
    padding: 6px 15px;
}

#simulator > .box-image > .navigation > .nav-simulator > li > a:after {
    content: "";
    position: absolute;
    top: 0;
    left: -23px;
    border-top: 23px solid transparent;
    border-right: 23px solid #a1a1a1;
    display: block;
    width: 0;
}

#simulator > .box-image > .navigation > .backgroud {
    background-color: rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow:    -3px 0px 3px 0px rgba(0, 0, 0, 0.23);
    box-shadow:         -3px 0px 3px 0px rgba(0, 0, 0, 0.23);
    position: relative;
    float: right;
    width: 317px;
    height: 100%;
}

#simulator > .box-image > .navigation > .backgroud > .box-border {
    border: 2px solid #888888;
    width: 100%;
    height: 100%;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .none-choice {
    display: none;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice {
    padding: 10px;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header {
    padding-bottom: 26px;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description {
    position: relative;
    height: 57px;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description > p {
    font-weight: 300;
    font-size: 11px;
    text-align: right;
    position: relative;
    float: right;
    top: 37px;
    padding-right: 15px;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description > p > span.name {
    display: none;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description > .color {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #787878;
    -webkit-border-radius: 18px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 18px;
    -moz-border-radius-topright: 0;
    border-radius: 18px;
    border-top-right-radius: 0;
    -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow:    -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    box-shadow:         -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    float: right;
    width: 103px;
    height: 72px;
}

#simulator .select-colors {
    border: 1px solid #787878;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow:    -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    box-shadow:         -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
    float: left;
    position: relative;
    width: 50px;
    height: 36px;
    margin-bottom: 9px;
    cursor: pointer;
}

#simulator .color-active {
    background: none;
    border: 1px solid #787878;
    position: absolute;
    top: -6px;
    left: -6px;
    width: 61px;
    height: 46px;
    padding: 2px;
}

#simulator .space {
    margin-right: 10px;
}

#simulator .special-colors {
    border-top: 1px solid #888888;
    clear: both;
    padding: 8px 0;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice {
    padding-top: 20px;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section {
    display: block;
    clear: both;
    height: 100%;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > h6 {
    font-weight: 300;
    font-size: 15.46px;
    line-height: 15.46px;
    text-align: right;
    background-color: #a1a1a1;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 5px 10px 4px 0;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div {
    position: relative;
    padding: 0;
    margin-bottom: 2px;
    cursor: pointer;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > img {
    border-right: 2px solid #7e7d7d;
    border-bottom: 2px solid #7e7d7d;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px 0;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > img.border-right-none {
    border-right-color: transparent;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > p {
    color: #a2a2a2;
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #838383;
    padding: 4px 0;
    margin: 0 2px 0 0;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div:hover > p,
#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div.active > p {
    color: #ffffff;
}

#simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > p.no-left-margin {
    margin-right: 0;
}

@media (max-width: 1280px) {
    #simulator {
        width: 945px;
        margin-top: 72px;
    }

    #simulator > .box-image {
        margin: 10px 0 28px 0;
    }

    #simulator > .box-image > .navigation {
        width: 300px;
    }

    #simulator > .box-image > .navigation > .nav-simulator {
        top: 137px;
        right: 130px;
    }

    #simulator > .box-image > .navigation > .nav-simulator > li {
        border-bottom: 2px solid #a1a1a1;
        width: 330px;
        padding-bottom: 2px;
        margin-bottom: 1px;
    }

    #simulator > .box-image > .navigation > .nav-simulator > li:after {
        border: 2px;
        left: -23px;
        border-bottom: 2px solid #a1a1a1;
        width: 23px;
        padding-bottom: 2px;
    }

    #simulator > .box-image > .navigation > .nav-simulator > li > a {
        font-weight: 300;
        font-size: 11.18px;
        line-height: 11px;
        padding: 6px 15px;
    }

    #simulator > .box-image > .navigation > .nav-simulator > li > a:after {
        left: -23px;
        border-top: 23px solid transparent;
        border-right: 23px solid #a1a1a1;
    }

    #simulator > .box-image > .navigation > .backgroud {
        width: 262px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border {
        border: 2px solid #888888;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice {
        padding: 10px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header {
        padding-bottom: 26px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description {
        height: 57px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description > p {
        font-weight: 300;
        font-size: 11px;
        top: 37px;
        padding-right: 15px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .color-choice > header > .description > .color {
        border: 1px solid #787878;
        -webkit-border-radius: 12px;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius: 12px;
        -moz-border-radius-topright: 0;
        border-radius: 12px;
        border-top-right-radius: 0;
        -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        -moz-box-shadow:    -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        box-shadow:         -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        width: 81px;
        height: 57px;
    }

    #simulator .select-colors {
        border: 1px solid #787878;
        -webkit-border-radius: 10px;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius: 10px;
        -moz-border-radius-topright: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        -moz-box-shadow:    -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        box-shadow:         -3px 0px 3px 0px rgba(0, 0, 0, 0.30);
        width: 40px;
        height: 28px;
        margin-bottom: 9px;
    }

    #simulator .color-active {
        border: 1px solid #787878;
        top: -6px;
        left: -6px;
        width: 50px;
        height: 38px;
        padding: 2px;
    }

    #simulator .space {
        margin-right: 9px;
    }

    #simulator .special-colors {
        border-top: 1px solid #888888;
        padding: 8px 0;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice {
        padding-top: 17px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section {
        display: block;
        clear: both;
        height: 100%;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > h6 {
        font-size: 12.46px;
        line-height: 12.46px;
        margin: 0 0 2px 0;
        padding: 3px 10px 2px 0;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div {
        margin-bottom: 2px;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > img {
        border-right: 2px solid #7e7d7d;
        border-bottom: 2px solid #7e7d7d;
        padding-left: 15px;
        padding-right: 15px;
        margin: 2px 0;
    }

    #simulator > .box-image > .navigation > .backgroud > .box-border > .mount-choice > section > div > p {
        color: #a2a2a2;
        font-weight: 300;
        font-size: 9px;
        line-height: 9px;
        padding: 4px 0;
        margin: 0 2px 0 0;
    }
}

/* Contato */
#contact > header {
    background-color: #ececec;
    margin-top: 10px;
    width: 100%;
}

#contact > header > h1,
#contact > section {
    width: 840px;
    margin: 0 auto;
}

#contact > header > h1 {
    color: #2a2a2a;
    font-weight: 300;
    font-size: 65.88px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 30px 0;
}

#contact > header > h1 > span {
    font-size: 24.69px;
    position: absolute;
    bottom: 40px;
}

#contact > section {
    padding: 80px 0;
}

#contact > section > iframe {
    border: 0;
    position:relative;
    width: 100%;
    height: 472px;
    margin-bottom: 40px;
}

#contact > section > p {
    color: #2a2a2a;
    font-weight: 300;
    font-size: 20.57px;
    line-height: 41.14px;
}

#contact > section > p > a { color: #2a2a2a; }

@media (max-width: 1280px) {
    #contact > header > h1,
    #contact > section {
        width: 560px;
    }

    #contact > header > h1 {
        font-size: 43.92px;
        padding: 20px 0;
    }

    #contact > header > h1 > span {
        font-size: 24.69px;
        position: absolute;
        bottom: 40px;
    }

    #contact > section {
        padding: 52px 0;
    }

    #contact > section > iframe {
        height: 315px;
    }

    #contact > section > p {
        font-size: 13.71px;
        line-height: 27.43px;
    }

    #contact > section > p.margin-bottom {
        margin-bottom: 43px;
    }
}

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80); }

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
    display: none; }

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-cur {
    cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }

.mfp-loading.mfp-figure {
    display: none; }

.mfp-hide {
    display: none !important; }

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
.mfp-preloader a {
    color: #cccccc; }
.mfp-preloader a:hover {
    color: white; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.mfp-s-error .mfp-content {
    display: none; }

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none; }
button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
.mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
    color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px; }

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.mfp-arrow:active {
    margin-top: -54px; }
.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
    left: 0; }
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
    right: 0; }
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
.mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
    line-height: 0; }
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
    display: none;
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px; }

.mfp-image-holder .mfp-content {
    max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0; }
    .mfp-img-mobile img.mfp-img {
        padding: 0; }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px; }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0; } }

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75); }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0; }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%; }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px; } }

.mfp-ie7 .mfp-img {
    padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
    padding: 0; }
.mfp-ie7 .mfp-content {
    padding-top: 44px; }
.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0; }