/* ==========================================================================
   Adriano Siqueira custom styles
   ========================================================================== */
body {
    color: #FFFFFF;
    font: normal normal normal 100%/1.4 'Lato', sans-serif;
    background-color: #ffffff;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    outline: none;
    box-shadow:none !important;
    border: 1px solid transparent !important;
}

.navbar-brand,
.navbar-nav > li > a {
    text-shadow: none;
}

.btn {
    outline: none !important;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.space-header {
    padding-top: 93px;
}

.loader {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 0.4;
}

/* Header */
header.header-main-global {
    width: 100%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 10;
}

header.header-main-global > .navbar-main-global {
    background-color: rgba(0, 0, 0, 0.45);
    border: 0;
    border-radius: 0;
    position: relative;
    margin: 0 auto;
    height: 77px;
    width: 1416px;
}

header.header-main-global > .navbar-main-global > .navbar-header {
    margin-left: 49px;
    margin-right: 90px;
}

header.header-main-global > .navbar-main-global > .navbar-header > h1 {
    line-height: 77px;
    padding: 0;
    margin: 0;
}

header.header-main-global > .navbar-main-global > .navbar-header > h1 > a > img {
    display: inline;
    vertical-align: middle;
    max-height: 34px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li {
    margin-right: 25px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li:last-child {
    margin-right: 0;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16.38px;
    line-height: 77px;
    padding: 0 24px;
}

header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li > a:hover,
header.header-main-global > .navbar-main-global > nav > ul.navbar-nav > li.active,
header.header-main-global .nav .open > a,
header.header-main-global .nav .open > a:hover,
header.header-main-global .nav .open > a:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

header.header-main-global .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.29);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 61px;
    margin-top: 0;
}

header.header-main-global .dropdown-menu > li > a {
    color: #161616;
    font-weight: 300;
    font-size: 16.38px;
    line-height: 30px;
}

header.header-main-global .dropdown-menu > li > a:hover,
header.header-main-global .dropdown-menu > li > a:focus {
    background: none;
}

@media (min-width: 970px) {
    header.header-main-global .dropdown:hover > a {
        background-color: rgba(255, 255, 255, 0.15);
    }

    header.header-main-global .dropdown:hover .dropdown-menu {
        display: block;
    }
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form {
    width: 288px;
    margin: 22px 49px 0 20px;
    padding: 0;
    border: 0;
    box-shadow: none;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .form-control {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .input-search {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    -webkit-border-top-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-top-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -moz-border-radius-topright: 18px;
    -moz-border-radius-bottomright: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: 0 !important;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search:hover,
header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search:focus {
    color: #ffffff;
}

header.header-main-global > .navbar-main-global > nav > form.navbar-form .btn-search > i {
    font-size: 18px;
}

/* Footer */
footer.footer-main {
    font-size: 14px;
    background-color: #ffffff;
    border-top: 4px solid #ffffff;
    position: relative;
    height: 94px;
    overflow: hidden;
}

footer.footer-main:before {
    content: "";
    -webkit-box-shadow: inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         inset 0px 4px 21px 0px rgba(50, 50, 50, 0.18);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98px;
}

footer.footer-main,
footer.footer-main a {
    color: #646464;
}

footer.footer-main > div {
    margin-top: 32px;
}

footer.footer-main > div > div {
    text-align: center;
}

footer.footer-main address,
footer.footer-main span.phone,
footer.footer-main span.email,
footer.footer-main .partition {
    float: left;
    line-height: 24px;
}

footer.footer-main .partition {
    margin: 0 34px;
}

/* Home */
#carousel-global-home > .carousel-inner > .item > img,
#carousel-global-home > .carousel-inner > .item > a > img {
    max-width: none;
    max-height: 100%;
}

#carousel-global-home > .carousel-inner > .item > .banner-description {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

#carousel-global-home > .carousel-inner > .item > .banner-description > h3 {
    font-weight: 100;
    font-size: 40.80px;
    line-height: 30.96px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    display: inline-block;
    top: 50%;
    margin: -52px 0 0 0;
    padding: 52px 5% 0 5%;
}

#carousel-global-home > .carousel-inner > .item > .banner-description > h3 > span {
    font-size: 28.80px;
    line-height: 104px;
}

#carousel-global-home > .carousel-inner > .item > .local {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
}

#carousel-global-home > .carousel-inner > .item > .local > h4 {
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    margin: 0;
    padding: 12px 25px 9px 25px;
}

#carousel-global-home > .carousel-inner > .item > .local > h4 > span {
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
}

#carousel-global-home > .carousel-indicators {
    bottom: 63px;
}

#carousel-global-home > .carousel-indicators li {
    background: none;
    border: 3px solid #464646;
    border-radius: 18px;
    width: 18px;
    height: 18px;
}

#carousel-global-home > .carousel-indicators .active {
    background-color: #ffffff;
    border-color: #ffffff;
}

#carousel-global-home > .carousel-control {
    font-size: 30px;
    text-shadow: none;
    top: 50%;
    width: 7.3%;
    opacity: 1;
    filter: alpha(opacity=50);

}

#carousel-global-home > .carousel-control.left,
#carousel-global-home > .carousel-control.right {
    background: none;
}

footer#home-sections {
    position: relative;
    z-index: 1;
    min-height: auto;
    width: 100%;
    background-color: #ececec;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
}

footer#home-sections > section {
    line-height: 239px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 100%;
}

footer#home-sections > section > a {
    color: #000000;
    text-decoration: none;
    display: block;
}

footer#home-sections > section > a > h2 {
    font-weight: 300;
    font-size: 60px;
    line-height: 48px;
    letter-spacing: -2px;
    display: inline-block;
    vertical-align: middle;
}

footer#home-sections > section > a > h2 > span {
    font-size: 30px;
    letter-spacing: normal;
    text-transform: uppercase;
}

footer#home-sections > section.divisorio-estrutural {
    background-image: url("../images/divisorio-estrutural-section.jpg");
}

footer#home-sections > section.divisorio-inox {
    background-image: url("../images/divisorio-inox-section.jpg");
    border-left: 4px solid #ffffff;
}

footer#home-sections > section.acessorios {
    background-image: url("../images/acessorios-section.jpg");
    border-left: 4px solid #ffffff;
}

footer#home-sections > section.simulador {
    background-image: url("../images/simulador-section.jpg");
}

/* Acessorios */
#acessorios {
    color: #000000;
}

#acessorios > .jumbotron {
    background: none;
}

#acessorios > .jumbotron > .container {
    text-align: center;
}

#acessorios > .jumbotron > .container > h2 {
    font-weight: 400;
    font-size: 60px;
    margin-top: 44px;
    margin-bottom: 47px;
}

#acessorios > .jumbotron > .container > p {
    font-weight: 100;
    font-size: 27px;
    line-height: 39px;
}

#acessorios > .breadcrumb {
    background-color: #eceaea;
    border-radius: none;
    padding: 53px 0;
    margin-bottom: 58px;
    list-style: none;
    text-align: center;
}

#acessorios > .breadcrumb > .active,
#acessorios > .breadcrumb > li > a {
    color: #050505;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

#acessorios > .breadcrumb > li > a:hover {
    text-decoration: none;
}

#acessorios > .breadcrumb > li+li:before {
    content: ">";
    color: #050505;
    font-size: 24px;
    padding: 0 12px;
}

#acessorios > footer {
    padding: 60px 0;
}

#acessorios > section.categorias {
    width: 100%;
    padding-left: 57px;
}

#acessorios > section.categorias > article > aside,
#acessorios > section.categorias > article > section {
    padding: 0;
    margin-bottom: 5px;
}

#acessorios > section.categorias > article > aside > a {
    text-align: center;
    border: 1px solid #cbcbcb;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow:    0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    box-shadow:         0px 5px 3px 0px rgba(0, 0, 0, 0.10);
    display: block;
    width: 238px;
    height: 150px;
    overflow: hidden;

}

#acessorios > section.categorias > article > section > a {
    color: #222222;
    text-decoration: none;
    border-top: 2px solid #c8c7cc;
    display: block;
}

#acessorios > section.categorias > article > section > a > h1 {
    font-weight: 100;
    font-size: 48px;
    line-height: 150px;
    position: relative;
    margin: 0;
    padding: 0;
}

#acessorios > section.categorias > article > section > a .seta {
    position: absolute;
    display: inline-block;
    top: 52px;
    right: 57px;
}

#acessorios > section.detalhe > article > aside {
    padding-left: 0;
}

#acessorios > section.detalhe > article > aside > .img-detalhe {
    text-align: center;
    border: 1px solid #cbcbcb;
    position: relative;
    width: 284px;
    height: 284px;
    line-height: 284px;
    overflow: hidden;
}

#acessorios > section.detalhe > article > aside > .img-detalhe > a.lupa {
    color: #bcbec0;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 10;
}

#acessorios > section.detalhe > article > section > h1 {
    color: #000000;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
    margin-bottom: 14px;
}

#acessorios > section.detalhe > article > section > h6 {
    color: #e75b39;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

#acessorios > section.detalhe > article > section > span.cod {
    color: #e75b39;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
}

#acessorios > section.detalhe > article > section > p {
    color: #6d6e71;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
}

#acessorios > section.detalhe > article > section > p.descricao {
    margin: 24px 0 24px 0;
}

#acessorios > section.detalhe > article > section > a {
    color: #6d6e71;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 4px;
    margin-right: 18px;
}

#acessorios > section.detalhe > article > section > a:last-child {
    margin-right: 0;
}

#acessorios > section.detalhe > article > hr {
    background: none;
    border-top: 2px solid #d1d3d4;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}